<div class="container">
   <nav class="navbar navbar-default">
   <div class="container-fluid">
     <ul class="nav navbar-header">
         <li [routerLink]="['/']" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"><a>HOME</a></li>
         <li [routerLink]="['/weather']" routerLinkActive = "active"><a>WEATHER</a></li>
         <li [routerLink]="['/cities']" routerLinkActive = "active"><a>CITIES</a></li>
         <li [routerLink]="['/forms']" routerLinkActive = "active"><a>ABOUT US</a></li>
      </ul>
     </div>
</nav>
</div>